# Dependencies
node_modules

# Builds
/dist

# Logs and temp files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store
.tmp

# Tests and coverage
coverage
jest-results*

# Editor and OS files
.DS_Store
.vscode

# Git
.git
.gitignore

# Env
.env
.env.*
