services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: node-ts-express-template:dev
    environment:
      - NODE_ENV=development
      - PORT=3000
    ports:
      - "3000:3000"
    command: ["node", "dist/index.js"]
